---
import '../../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>organizing daydream bengaluru <3</title>
	</head>
	<body>
		<audio id="my_audio" src="/music!/C418 - Mice on Venus - Minecraft Volume Alpha.mp3" autoplay loop></audio>
		<script>
			var audio = document.getElementById("my_audio") as HTMLMediaElement;
			audio.volume = 0.8;
			(window as any).toggle_music = () => {
				if (audio.paused) {
					audio.play();
				} else {
					audio.pause();
				}
			}
		</script>
		<div class="main-div">
			<h3>zaid@blog: ~$</h3>
			<h1>organizing daydream bengaluru <3</h1>
			<a href="/">back home?</a>&nbsp;
			<a onclick="window.toggle_music()" id="music_tag">toggle music?</a><br><br>
		<p>
			<img src="/daydream_bengaluru.jpeg" alt="" style="width: 750px; height:auto; border-radius: 30px;"><br><br>

			one random day as usual I opened my slack to see an announcement for a new satellite hackathon that 
			hackclub was planning to host and reading the post took me back to the time I attended scrapyard where I 
			had LOADS OF FUN! so I immediately applied to organize one :3. A lot of days later, I get an email telling
			me that I had unfortunately not been selected to organize as a "PoC". It is important that I quote that because 
			being the PoC was not the only means of organizing one. I then hit up Arnav who was selected to be the point of contact
			or what we call the PoC, and he said that he would love to have me on the organizing team! I was SOO EXCITED.
			<br>
			<br>
			I had never organized a legit hackathon other than the local one we had at school, then I started working with the organizing team for the event.
			Because I had a little bitty skill in designing posters and stuff, they put me on to handle all the designs for the event and
			with Figma on my side, I ROCKED THEM! they turned out very good and everyone loved them, it was even more fun to see them take shape
			into real standees, lanyards and even the cards, it was GREAT. After everything was finalized, we waited for the day of the event
			to come and I was stressed, the reason being that I was the only young org on the team and nobody was even CLOSE to my age, that did 
			make me kinda nervous but I was still hyped to be organizing this event.
			<br>
			<br>
			The day arrived and I reached the venue as early as possible, I then started helping out with logistics and arranging everything in place so that when the attendees come, it was going to be perfect.
			I had also been preparing for taking a godot workshop during the event and when the time came for me to take it, I screwed it up very badly :( ,
			my social anxiety hit me hard at the wrong time and I started stuttering a LOT! but I did finally go through the whole workshop. At the end, 
			people actually told me that my workshop was great and that I had done a great job and that was the happiest feeling that I had ever gotten.
			<br>
			<br> 
			I then started out helping a lot of the beginners who did not know how to code a game on their own at all, I helped a person and then another and then
			suddenly everybody started swarming onto me for help with their games and that made me realize that after all I was not a waste as my classmates thought I was.
			Anyway I got through everybody's projects' problems and looking at everybody's games, it made me amazed on how people could come up with awesome ideas for a game
			and experience building it from SCRATCH! I met a lot of people who had made cool games and were very delighted when I told them how cool they were.
			<br>
			<br> 
			They said that they were very thankful for having us organize this awesome event and the way that we had handled everything. Hearing a ton of great stuff from the attendees made 
			me genuinely very HAPPY! and I was so thankful that I tried reaching out to organize one of these events, it played a very crucial role in helping me recover
			from the fact that I thought I was a dumb kid with nothing I could do in my life. Anyway I helped everybody with their games and also on shipping them. After the shipping 
			ceremony and collecting the goodies, the day had finally come to an end :3
			<br>
			<br>
			what a crazy 12 hours it was, I loved everybody's stories that I had met during the event and it felt so inspiring. People from around the city 
			gathered together to make a game with some people knowing exactly what to do, while some people not knowing how to even code one. It was so awesome 
			to see people from different areas, culture, and backgrounds getting together, making friends, having fun and overall enjoying their time during the event.
			Arnav was also very kind to me, and helped me through everything and even got all of the orgs ice cream after the event ended. It was so awesome and I made 
			a ton of memories, I wish I could travel back to the day I organized this CRAZY event! :)
			<br>
			<br>
			check out their awesome video <a href="https://www.youtube.com/watch?v=XcNAqWufmIg&t=5s">here!</a> :3
			<br>
			<br>
			love yall :3,<br>
			zaid (aka zeeno.)
		</p>
		</div>
		<script src="/oneko/oneko.js" data-cat="/oneko/oneko.gif"></script> 
	</body>
</html>
